@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
html > body {
  font-family: "GmarketSansLight";
}

:root {
  --site-width: 1200px;
}
.con {
  max-width: var(--site-width);
}
